services:
  postgres:
    image: postgres:16
    container_name: digitalbank-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: digitalbank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
